<style>
    body {
        background-image: url("/img/theOne.jpg") !important;
    }

    .backg1 {
        background-color: rgba(0, 0, 0, 0.5) !important;
    }

    .resultSec {
        margin-top: 150px !important;
    }

    .buttonCenter {
        text-align: center !important;
    }

    .dAmaD {
        color: #f0ad4e !important;
    }
    .deD{
      color: #d9534f !important;  
    }
    .g{
        color: antiquewhite !important;
    }
</style>
<nav class="nav navStyle justify-content-center navi">
    <div class="text-center">
        <a class="nav-link active text-center deal" href="/"><em><b>💲💲💲Passive Deal💲💲💲</b></em></a>
    </div>
</nav>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 bCont">
        <div class="col mb-4 ">
            <div class="card h-100 backg1">
                <div class="card-body text-center">
                    <div>
                        <h5 class="card-title"><b><i class="fab fa-amazon fa-3x dAmaD"></i></b></h5>
                    </div>
                    <div class="text-left g">
                        <p>Number of Offers:&nbsp;----------------&nbsp;{{eb.nOf}}</p>
                        <p>Highest Price:&nbsp;-------------------&nbsp;${{eb.hPrice}}</p>
                        <p>Lowest Price:&nbsp;--------------------&nbsp;${{eb.lPrice}}</p>
                        <p>Average Price:&nbsp;--------------------&nbsp;${{eb.avrP}}</p>
                        <p>Cost of Shipping:&nbsp;-----------------&nbsp;${{eb.sCosr}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4 resultSec">
            <div class="card h-100 backg1">
                <div class="card-body text-center">
                    <div>
                        <h5 class="card-title dDeal"><b>The Winnig Deal!</b></h5>
                    </div>
                    <div class="text-left g">
                        <p> Exp.Revenue:&nbsp;-------------------&nbsp;${{f.rev}}</span></p>
                        <p> Exp.NetIncome:&nbsp;-----------------&nbsp;${{f.nIn}}</p>
                        <p> Exp.ShippingCost:&nbsp;--------------&nbsp;${{f.sC}}</p>
                        <form action="/" method="GET" class="buttonCenter">
                            <button type="submit" class="btn btn-warning"><b>Check Other Deals!</b></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100 backg1">
                <div class="card-body text-center">
                    <div>
                        <h5 class="card-title dBurg"><b><i class="fab fa-ebay fa-4x deD"></i></b></h5>
                    </div>
                    <div class="text-left g">
                        <p> Number of Offers:&nbsp;----------------&nbsp;{{am.nOf}}</p>
                        <p> Highest Price:&nbsp;-------------------&nbsp;${{am.hPrice}}</p>
                        <p> Lowest Price:&nbsp;--------------------&nbsp;${{am.lPrice}}</p>
                        <p>Average Price:&nbsp;--------------------&nbsp;${{am.avrP}}</p>
                        <p>Cost of Shipping:&nbsp;-----------------&nbsp;${{am.sCosr}}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>